<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate for Computer Needs</title>
</head>

<app-banner></app-banner>

<body>
    <div class = "head">
        <header class = "header">
            <h1>Help Others Get Access to Technology</h1>
            <p>Make a Difference by Donating for Computer Needs</p>
        </header>
    </div>
    <div class="content">
        <section class="intro">
            <h2>Welcome!</h2>
            <p>Our mission is to help people in need gain access to essential technology, like computers, for education, work, and personal development. Join us in making a difference by contributing to donation campaigns that support this cause.</p>
        </section>
        <section >
            <h2>Featured Campaigns</h2>
            <div class="computer" *ngFor="let computer of computers" >
                <h3>{{computer.name}}</h3>
                <p>{{computer.description}}</p>
                <button routerLink="/info/{{computer.id}}">
                  Donate Now
                </button>
            </div>
        </section>
    </div>
    <footer style="background-color: #f1f1f1; text-align: center; padding: 10px; margin-top: 20px;">
        <p>&copy; 2024 Donate for Computer Needs. All rights reserved.</p>
    </footer>
</body>
</html>
