<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate for Computer Needs</title>
</head>


<body>
    <app-banner></app-banner>

    <div class = "head">
        <header class = "header">
            <h1>Learn to make a Hardware to Software Pipline</h1>
            <p>With HC-SR04 and MSP432 and an Angular Tour of Heroes Implementation</p>
        </header>
    </div>
    <div class="content">
        <section class="intro">
            <h2>Welcome!</h2>
            <p> Tony Butler's Personal Development Project</p>
        </section>

    </div>
</body>
<footer class="content" style="background-color: #f1f1f1; text-align: center; padding: 10px; margin-top: 20px;">
    <p>&copy; 2025 Personal Development Webpage. All rights reserved.</p>
</footer>
</html>
